<table mat-table [dataSource]="tableData">

  <ng-container *ngFor="let col of columns; index as i">

    <ng-container [ngSwitch]="tableConfig[i].columnType">
      <ng-container *ngSwitchCase="ColumnType.CHECKBOX" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            [checked]="tableData.length === selectedItems.size"
            (click)="selectAll()"
          ></mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="selectedItems.has(element.id)"
            (click)="addToSelected(element.id)"
          ></mat-checkbox>
        </td>
      </ng-container>


      <ng-container *ngSwitchCase="ColumnType.COUNTRY" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef>
          <ng-container
            [ngTemplateOutlet]="defaultCellHeader"
            [ngTemplateOutletContext]="{i}"
          ></ng-container>
        </th>

        <td mat-cell *matCellDef="let element">
          {{element[tableConfig[i].filedName!] | country | async}}
        </td>
      </ng-container>

      <ng-container *ngSwitchCase="ColumnType.ACTIONS" [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef>
          {{ tableConfig[i].columnName | translate }}

          <mat-icon class="material-icons-outlined">search</mat-icon>

          <app-dropdown-menu [xPosition]="'before'">
            Hidden columns should be here
          </app-dropdown-menu>
        </th>

        <td mat-cell *matCellDef="let element">
          <ng-container
            [ngTemplateOutlet]="defaultActions"
            [ngTemplateOutletContext]="{element}"
          >
          </ng-container>
        </td>
      </ng-container>

      <ng-container *ngSwitchDefault [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef>
          <ng-container
            [ngTemplateOutlet]="defaultCellHeader"
            [ngTemplateOutletContext]="{i}"
          ></ng-container>
        </th>

        <td mat-cell *matCellDef="let element"> {{element[tableConfig[i].filedName!]}} </td>
      </ng-container>
    </ng-container>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<ng-template #defaultCellHeader let-i=i>
  <app-dropdown-menu [menuIcon]="'filter_alt'">
    Filter inputs should be here
  </app-dropdown-menu>

  {{ tableConfig[i].columnName | translate }}
</ng-template>

<ng-template #defaultActions let-element=element>
  <ng-container *ngFor="let action of defaultActionConfig">
    <app-button
      [btnType]="ButtonTypeEnum.ICON"
      [isIconButton]="true"
      [icon]="action.icon"
      (click)="onAction({ action: action.type, payload: element})"
    ></app-button>
  </ng-container>
</ng-template>

