@import "src/app/core/styles/material-custom/constants";

table {
  width: auto;
  padding: 12px 12px 80px;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0 5px;

  th {
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    border-color: transparent;
  }

  th:last-child {
    border-radius: 0 10px 10px 0 !important;
  }

  th:first-child {
    border-radius: 10px 0 0 10px !important;
    text-align: center;
    padding-right: 0;
  }

  th:nth-child(2) {
    text-align: start;
    padding-left: 0;

    div {
      justify-content: flex-start;
    }
  }

  ::ng-deep thead {
    background-color: $border-toggle-btn;
    height: 50px;
    font-size: 20px;
  }

  ::ng-deep tbody tr td {
    border-color: transparent;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0;
  }

  ::ng-deep tbody tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 0;
  }

  ::ng-deep tbody tr td:nth-child(2) {
    text-align: start;
  }

  ::ng-deep tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .mat-mdc-row {
    background-color: $background-login-gray;
  }

  ::ng-deep tfoot tr {
    background-color: $background-login-gray;
  }

  ::ng-deep tfoot tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  ::ng-deep tfoot tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.mat-mdc-table {
  .mdc-data-table__header-row {
    height: 50px;
  }

  .mdc-data-table__row {
    height: 50px;
  }
}

.filter-container {
  padding: 0 12px 12px 12px;

  h1 {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

//remove maybe
.sort-container {
  padding: 20px;

  h1 {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
//----------------

.hidden-cols-container {
  width: 280px;

  p {
    font: normal normal normal 15px/21px Source Sans Pro;
    color: $text-dark-gray;
    margin: 0;
  }
}

.container-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.loading-shape {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.table-container {
  border-radius: 10px;
  width: 100%;
  position: relative;
  overflow: auto;

  .paginator {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 10%;
    width: 100%;
  }

  .table-search {
    position: absolute;
    top: 16px;
    z-index: 9999;
    padding: 0 12px;
    box-sizing: border-box;
    width: 100%;
  }
}

.action-btns-container {
  justify-content: center;

  app-button {
    margin-right: 20px;
  }
}

//STYLES FOR THE DIFFERENT COMPONENTS. MAYBE REMOVE TO GLOBAL CSS?
.bankAccount {
  th {
    font-size: 14px;
  }
}

.twoButtons {

  .action-btns-container {
    justify-content: center;
  }

}

.employee-type {
  .search {
    padding: 0;
  }

  tr th:nth-child(3) {
    display: flex;
    justify-content: normal;
  }

  tr th:nth-child(5) {
    padding: 0;
  }


}

//--------------------------------------------//
#folder-link {
  color: #3E77AA;
  text-decoration: underline;
  display: flex;
  gap: .5rem;
  cursor: pointer;
}

.add-button-green {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1C9F56;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;

  mat-icon {
    color: #FFFFFF;
  }
}

.gradeCategoryTableStyle {
  table {
    padding-bottom: 20px;

    ::ng-deep thead {
      th {
        div {
          justify-content: flex-start;
        }
      }
    }
  }
}

.gradeCategoryTableLevels {

  th {
    div {
      justify-content: flex-start;
    }
  }

  td {
    text-align: start;
  }

  .action-btns-container {
    padding-left: 20px;
  }
}

.descriptions {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 50px;
  justify-content: space-between;


  .description-table {
    margin-right: 29px;
    padding-left: 20px;
    display: table;

    div {
      max-width: 197px;
      display: table-cell;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      vertical-align: middle;
    }


  }

  .view-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 82px;
    height: 30px;
    border: 1px solid #3E77AA;
    border-radius: 6px;
    color: #3E77AA;
    cursor: pointer;
  }
}

.positionTableStyle {
  th {
    div {
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: #3E77AA;
}

.isPrinting {
  th:nth-child(2) {
    padding-left: 16px !important;
  }

}

.table-buttons-wrapper {
  height: 50px;
}

.table-padding {
  padding: 7px 3px;
}

.filter-padding {
  padding: 12px 0;
}

.size {
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 6px 10px #00000008;
  opacity: 1;
  //width: fit-content;
  //block-size: fit-content;
  width: 54px;
  height: 24px;
  margin-right: auto;
  margin-left: auto;
  font: normal normal normal 12px/17px Source Sans Pro;
  letter-spacing: 0;
  color: #808080;
}

