<div
  class="container-wrapper container-flex-center"
  [class]="tableStyle">
  <div class="loading-shape" *ngIf="isLoading">
    <mat-spinner diameter="50" />
  </div>

  <div class="table-container">
    <table
      mat-table
      [dataSource]="filteredData"
      *ngIf="tableData"
      [class.isPrinting]="isPrinting"
      id="ExampleMaterialTable">
      <ng-container *ngFor="let col of columns; index as i">
        <ng-container [ngSwitch]="tableConfig[i].columnType">
          <ng-container
            *ngSwitchCase="ColumnType.CHECKBOX"
            [matColumnDef]="col">
            <th
              mat-header-cell
              *matHeaderCellDef
              [ngStyle]="!isPrinting ? null : { display: 'none' }">
              <mat-checkbox
                [checked]="
                  filteredData?.length === selectedItems.size
                "
                (click)="selectAll()" />
            </th>

            <td
              mat-cell
              *matCellDef="let element"
              [ngStyle]="!isPrinting ? null : { display: 'none' }">
              <mat-checkbox
                [checked]="selectedItems.has(element.id)"
                (click)="addToSelected(element)" />
            </td>
          </ng-container>

          <ng-container
            *ngSwitchCase="ColumnType.FOLDER"
            [matColumnDef]="col">
            <th
              mat-header-cell
              [hidden]="tableConfig[i].hidden"
              *matHeaderCellDef>
              <ng-container
                [ngTemplateOutlet]="defaultCellHeader"
                [ngTemplateOutletContext]="{ i }" />
            </th>

            <td
              mat-cell
              [hidden]="tableConfig[i].hidden"
              *matCellDef="let element">
              <div
                id="folder-link"
                (click)="
                  onAction({
                    action: 'folder_view',
                    payload: element
                  })
                ">
                <mat-icon svgIcon="folder"></mat-icon>
                {{ element[tableConfig[i].filedName!] }}
              </div>
            </td>
          </ng-container>

          <ng-container
            *ngSwitchCase="ColumnType.TOGGLE"
            [matColumnDef]="col">
            <th
              mat-header-cell
              [hidden]="tableConfig[i].hidden"
              *matHeaderCellDef>
              <ng-container
                [ngTemplateOutlet]="defaultCellHeader"
                [ngTemplateOutletContext]="{ i }" />
            </th>

            <td
              mat-cell
              *matCellDef="let element"
              [ngStyle]="!isPrinting ? null : { display: 'none' }">
              <mat-slide-toggle
                [checked]="selectedItems.has(element.id)" />
            </td>
          </ng-container>

          <ng-container
            *ngSwitchCase="ColumnType.SHARE_WITH"
            [matColumnDef]="col">
            <th
              mat-header-cell
              [hidden]="tableConfig[i].hidden"
              *matHeaderCellDef>
              <ng-container
                [ngTemplateOutlet]="defaultCellHeader"
                [ngTemplateOutletContext]="{ i }" />
            </th>

            <td
              mat-cell
              *matCellDef="let element"
              [ngStyle]="!isPrinting ? null : { display: 'none' }">
              <app-button
                btnType="STROKED"
                colorTheme="link"
                [isIconButton]="true"
                [styleConfig]="{
                  height: '30px',
                  width: '83px'
                }"
                title="SHARE"
                iconPosition="beforeText"
                [iconStyleConfig]="{ width: '23%', height: '21%' }"
                icon="share"></app-button>
            </td>
          </ng-container>

          <ng-container
            *ngSwitchCase="ColumnType.COUNTRY"
            [matColumnDef]="col">
            <th
              mat-header-cell
              [hidden]="tableConfig[i].hidden"
              *matHeaderCellDef>
              <ng-container
                [ngTemplateOutlet]="defaultCellHeader"
                [ngTemplateOutletContext]="{ i }" />
            </th>

            <td
              mat-cell
              [hidden]="tableConfig[i].hidden"
              *matCellDef="let element">
              {{
                element[tableConfig[i].filedName!] | country | async
              }}
            </td>
          </ng-container>

          <ng-container
            *ngSwitchCase="ColumnType.SIZE"
            [matColumnDef]="col">
            <th
              mat-header-cell
              [hidden]="tableConfig[i].hidden"
              *matHeaderCellDef>
              <ng-container
                [ngTemplateOutlet]="defaultCellHeader"
                [ngTemplateOutletContext]="{ i }" />
            </th>

            <td
              mat-cell
              [hidden]="tableConfig[i].hidden"
              *matCellDef="let element">
              <div class="size">
                {{ element[tableConfig[i].filedName!] }}
              </div>
            </td>
          </ng-container>

          <ng-container
            *ngSwitchCase="ColumnType.ACTIONS"
            [matColumnDef]="col">
            <th mat-header-cell *matHeaderCellDef>
              <div
                class="d-flex align-items-center justify-content-end"
                *ngIf="!isPrinting">
                {{ tableConfig[i].columnName | translate }}

                <div
                  class="actions-container d-flex justify-content-center align-items-end">
                  <app-table-button
                    [showBtn]="true"
                    (btnClick)="toggleSearch()"
                    class="table-buttons-wrapper table-padding"
                    [icon]="'search'" />

                  <app-move-vert-dropdown xPosition="before">
                    <div (click)="$event.stopPropagation()">
                      <div
                        class="d-flex align-items-center hidden-cols-container"
                        *ngFor="let column of configForHiddenCols">
                        <mat-checkbox
                          [checked]="!column?.hidden"
                          (change)="handleColumnVisibility(column)" />
                        <p>{{ column.columnName | translate }}</p>
                      </div>
                    </div>
                  </app-move-vert-dropdown>
                </div>
              </div>
            </th>

            <td mat-cell *matCellDef="let element">
              <ng-container
                [ngTemplateOutlet]="actionButtons"
                [ngTemplateOutletContext]="{ element }" />
            </td>
            <td
              mat-footer-cell
              [hidden]="tableConfig[i].hidden"
              *matFooterCellDef
              class="forms">
              <div
                class="add-button-green"
                (click)="onAction({ action: 'add', payload: forms })">
                <mat-icon>add</mat-icon>
              </div>
            </td>
          </ng-container>

          <ng-container
            *ngSwitchCase="ColumnType.DESCRIPTIONS"
            [matColumnDef]="col">
            <th
              mat-header-cell
              [hidden]="tableConfig[i].hidden"
              *matHeaderCellDef>
              <ng-container
                [ngTemplateOutlet]="defaultCellHeader"
                [ngTemplateOutletContext]="{ i }" />
            </th>

            <td
              mat-cell
              [hidden]="tableConfig[i].hidden"
              *matCellDef="let element"
              class="descriptions">
              <div
                class="description-table"
                [ngStyle]="
                  !isPrinting ? null : { 'padding-left': '0' }
                ">
                <div>{{ element[tableConfig[i].filedName!] }}</div>
              </div>

              <div
                class="view-btn"
                (click)="
                  onAction({
                    action: 'viewDescription',
                    payload: element
                  })
                "
                *ngIf="!isPrinting">
                <mat-icon svgIcon="eye" />
                <span> View </span>
              </div>
            </td>
          </ng-container>

          <ng-container
            *ngSwitchCase="ColumnType.LINK"
            [matColumnDef]="col">
            <th
              mat-header-cell
              [hidden]="tableConfig[i].hidden"
              *matHeaderCellDef>
              <ng-container
                [ngTemplateOutlet]="defaultCellHeader"
                [ngTemplateOutletContext]="{ i }" />
            </th>

            <!--why tableConfig[i].action is undefined in onAction?-->
            <td
              mat-cell
              [hidden]="tableConfig[i].hidden"
              *matCellDef="let element"
              (click)="onAction({ action: 'view', payload: element })"
              class="link">
              {{ element[tableConfig[i].filedName!] }}
            </td>
          </ng-container>

          <ng-container *ngSwitchDefault [matColumnDef]="col">
            <th
              mat-header-cell
              [hidden]="tableConfig[i].hidden"
              *matHeaderCellDef>
              <ng-container
                [ngTemplateOutlet]="defaultCellHeader"
                [ngTemplateOutletContext]="{ i }" />
            </th>

            <td
              mat-cell
              [hidden]="tableConfig[i].hidden"
              *matCellDef="let element">
              {{ element[tableConfig[i].filedName!] }}
            </td>

            <td
              mat-footer-cell
              [hidden]="tableConfig[i].hidden"
              *matFooterCellDef
              class="forms">
              <app-form-builder
                [styleConfig]="gradeLevelsStyleConfig"
                [formFields]="[formConfig[i]]"
                (createdForm)="createForm((form = $event))"
                [actionButtonIncluded]="false" />
            </td>
          </ng-container>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>

      <ng-container *ngIf="isFormIncluded">
        <tr mat-footer-row *matFooterRowDef="columns"></tr>
      </ng-container>
    </table>

    <ng-container *ngIf="!isPrinting">
      <div class="paginator">
        <app-custom-paginator
          *ngIf="tableData.totalCount"
          [length]="tableData.totalCount"
          (page)="pageChange.emit($event)"
          [pageSize]="10">
        </app-custom-paginator>
      </div>
    </ng-container>

    <div class="table-search" *ngIf="showSearch">
      <app-search-input
        [styleConfig]="{ width: '100%' }"
        [showClearButton]="false"
        (valueChanged)="onValueSearch($event)">
        <app-button
          class="close-icon"
          (btnClick)="toggleSearch()"
          [isIconButton]="true"
          btnType="ICON"
          icon="clear" />
      </app-search-input>
    </div>
  </div>
</div>

<ng-template #defaultCellHeader let-i="i">
  <div
    class="d-flex align-items-center justify-content-center defaultHeader">
    <ng-container *ngIf="!isPrinting">
      <app-filter-dropdown
        class="table-buttons-wrapper filter-padding"
        [icon]="'filter'"
        *ngIf="headerDropdownFilter">
        <div
          class="filter-container"
          (click)="$event.stopPropagation()">
          <h1>{{ tableConfig[i].columnName | translate }}</h1>
          <app-search-input
            (valueChanged)="
              filterTable($event, tableConfig[i].filedName!)
            "
            [styleConfig]="{
              width: '200px',
              height: '40px'
            }" />
          <div class="d-flex justify-content-between">
            <app-button
              title="APPLY"
              btnType="FLAT"
              [styleConfig]="{
                height: '40px',
                width: '80px',
                'margin-top': '10px'
              }"
              [isIconButton]="false" />
            <app-button
              title="CLEAR"
              btnType="FLAT"
              [styleConfig]="{
                height: '40px',
                width: '80px',
                background: '#f5f6f8',
                color: '#3E77AA',
                'margin-top': '10px',
                border: '#3E77AA solid 1px'
              }"
              [isIconButton]="false" />
          </div>
        </div>
      </app-filter-dropdown>
    </ng-container>

    {{ tableConfig[i].columnName | translate }}

    <ng-container *ngIf="!isPrinting">
      <app-table-button
        class="table-buttons-wrapper table-padding"
        [icon]="'sort-by'" />
    </ng-container>
  </div>
</ng-template>

<ng-template #actionButtons let-element="element">
  <div
    class="d-flex justify-content-end action-btns-container"
    *ngIf="!isPrinting">
    <ng-container *ngFor="let action of actions">
      <app-button
        btnType="LITTLE_ICON"
        [styleConfig]="action.styleConfig"
        [iconStyleConfig]="{
          width: '20px',
          height: '20px',
          'line-height': '20px',
          'font-size': '16px',
          transform: 'scale(0.9)'
        }"
        [disabled]="action.disabled"
        [isIconButton]="true"
        [icon]="action.icon"
        (click)="
          onAction({ action: action.type, payload: element })
        " />
    </ng-container>
  </div>
</ng-template>
