<div class="table-container">
  <table mat-table [dataSource]="filteredData" *ngIf="tableData">
    <ng-container *ngFor="let col of columns; index as i">

      <ng-container [ngSwitch]="tableConfig[i].columnType">
        <ng-container *ngSwitchCase="ColumnType.CHECKBOX" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              [checked]="filteredData?.length === selectedItems.size"
              (click)="selectAll()"
            ></mat-checkbox>
          </th>

          <td mat-cell *matCellDef="let element">
            <mat-checkbox
              [checked]="selectedItems.has(element.id)"
              (click)="addToSelected(element.id)"
            ></mat-checkbox>
          </td>
        </ng-container>


        <ng-container *ngSwitchCase="ColumnType.COUNTRY" [matColumnDef]="col">
          <th mat-header-cell [hidden]="tableConfig[i].hidden" *matHeaderCellDef>
            <ng-container
              [ngTemplateOutlet]="defaultCellHeader"
              [ngTemplateOutletContext]="{i}"
            ></ng-container>
          </th>

          <td mat-cell [hidden]="tableConfig[i].hidden" *matCellDef="let element">
            {{element[tableConfig[i].filedName!] | country | async}}
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="ColumnType.ACTIONS" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef>
            <div class="d-flex align-items-center justify-content-center">
              {{ tableConfig[i].columnName | translate }}

              <div class="actions-container d-flex align-items-center">
                <app-button (btnClick)="toggleSearch()" [btnType]="ButtonTypeEnum.ICON" [icon]="'search'"></app-button>

                <app-dropdown-menu [xPosition]="'before'">
                  <div (click)="$event.stopPropagation()">
                    <div class="d-flex align-items-center hidden-cols-container" *ngFor="let column of configForHiddenCols; let i = index">
                      <mat-checkbox (change)="hideColumn($event, i)"></mat-checkbox>
                      <p>{{column.columnName | translate}}</p>
                    </div>
                  </div>
                </app-dropdown-menu>
              </div>
            </div>
          </th>

          <td mat-cell *matCellDef="let element">
            <ng-container
              [ngTemplateOutlet]="defaultActions"
              [ngTemplateOutletContext]="{element}"
            >
            </ng-container>
          </td>
        </ng-container>

        <ng-container *ngSwitchDefault [matColumnDef]="col">
          <th mat-header-cell [hidden]="tableConfig[i].hidden" *matHeaderCellDef>

            <ng-container
              [ngTemplateOutlet]="defaultCellHeader"
              [ngTemplateOutletContext]="{i}"
            ></ng-container>
          </th>

          <td mat-cell [hidden]="tableConfig[i].hidden" *matCellDef="let element"> {{element[tableConfig[i].filedName!]}} </td>
        </ng-container>
      </ng-container>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  <app-custom-paginator
    class="paginator"
    *ngIf="tableData.totalCount"
    [length]="tableData.totalCount"
    [pageSize]="2">
  </app-custom-paginator>


  <app-search-input *ngIf="showSearch" class="table-search" [showClearButton]="false" [styleConfig]="{width: 'calc(100vw - 464px)', 'margin-left': '12px'}">
    <app-button class="close-icon" (btnClick)="toggleSearch()" [isIconButton]="true" [btnType]="'ICON'" [icon]="'clear'"></app-button>
  </app-search-input>
</div>

<ng-template #defaultCellHeader let-i=i>
  <div class="d-flex align-items-center justify-content-center">
    <app-dropdown-menu [menuIcon]="'filter'">
      <div class="filter-container" (click)="$event.stopPropagation()">
        <h1>{{tableConfig[i].columnName | translate}}</h1>
        <app-search-input (valueChanged)="filterTable($event, tableConfig[i].filedName!)" [styleConfig]="{width: '200px', height: '40px'}"></app-search-input>
        <div class="d-flex justify-content-between">
          <app-button [title]="'APPLY'" [btnType]="ButtonTypeEnum.FLAT" [styleConfig]="{height: '40px', width: '80px', 'margin-top': '10px'}" [isIconButton]="false"></app-button>
          <app-button [title]="'CLEAR'" [btnType]="ButtonTypeEnum.FLAT" [styleConfig]="{height: '40px', width: '80px', background: '#f5f6f8', color: '#3E77AA', 'margin-top': '10px', 'border': '#3E77AA solid 1px'}" [isIconButton]="false"></app-button>
        </div>
      </div>
    </app-dropdown-menu>

    {{ tableConfig[i].columnName | translate }}
  </div>
</ng-template>

<ng-template #defaultActions let-element=element>
  <div class="d-flex justify-content-around">
    <ng-container *ngFor="let action of defaultActionConfig">
      <app-button
      [btnType]="ButtonTypeEnum.LITTLE_ICON"
      [styleConfig]="action.styleConfig"
      [iconStyleConfig]="{'width': '14px', 'height': '14px', 'line-height': '14px'}"
      [isIconButton]="true"
      [icon]="action.icon"
      (click)="onAction({ action: action.type, payload: element})"
     ></app-button>
    </ng-container>
  </div>
</ng-template>

