<div class="container-wrapper">
  <app-page-header title="EMPLOYEES">
    <div class="action-buttons">
      <app-button
        [routerLink]="NavigationPaths.CREATE_NEW_EMPLOYEE"
        btnType="FLAT"
        [isIconButton]="true"
        [styleConfig]="{ height: '50px', width: '150px' }"
        title="CREATE_NEW"
        [icon]="'add'" />
    </div>
  </app-page-header>

  <div class="table-container">
    <app-data-table
      [data]="employeesList$ | async"
      [itemsKey]="'employees-enums'"
      [tableConfig]="employeesListConfig"
      [hasCheckboxColumn]="true"
      [isLoading]="false"
      [tableStyle]="'employee'" />
  </div>
</div>
