<app-page-header
  [title]="'EMPLOYEES'"
>
  <div class="action-buttons">
    <app-button
      [routerLink]="NavigationPaths.CREATE_NEW_EMPLOYEE"
      [btnType]="ButtonTypeEnum.FLAT"
      [isIconButton]="true"
      [styleConfig]="{height: '50px', width: '150px'}"
      [title]="'CREATE_NEW' | translate"
      [icon]="'add'"
    ></app-button>
  </div>
</app-page-header>

<app-data-table
  [data]="employeesList$ | async"
  [itemsKey]="'employees'"
  [tableConfig]="employeesListConfig"
  (actionClicked)="onActionClicked($event)"
  (pageChange)="onPageChange($event)"
  [hasCheckboxColumn]="true"
></app-data-table>
