@import "src/app/core/styles/material-custom/constants";

.page-header {
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 40px;

  .heading {
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    color: $text-dark-gray;
    margin: 0;
  }

  .breadcrumbs {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      font-family: 'Material Icons', sans-serif;
      display: inline-block;
      position: relative;
      padding-right: 30px;
      margin: 0;
    }

    li:after {
      content: 'chevron_right';
      position: absolute;
      display: inline-block;
      top: 2px;
      right: 10px;
      text-align: center;
    }

    li:last-child {
      a {
        color: $selected-gray;
      }
    }

    li:last-child:after {
      content: '';
    }

    a {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
      display: inline-block;
      color: $text-teal;
      white-space: nowrap;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .back-btn {
    color: $text-gray;
    text-decoration: unset;
  }

}
