<ng-container>
  <div
    class="container-wrapper page-header d-flex justify-content-between">
    <div>
      <h1 class="heading">{{ title | translate }}</h1>
      <ng-container *ngIf="!isPrinting">
        <div class="breadcrumbs">
          <ul>
            <li *ngFor="let breadcrumb of breadcrumbs$ | async">
              <a [routerLink]="breadcrumb.url">{{
                breadcrumb.label | translate
              }}</a>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="!isPrinting">
      <div class="d-flex gap-1">
        <ng-content />
        <a
          *ngIf="isBackBtnShowed"
          class="back-btn d-flex align-items-center"
          (click)="onBackClick()">
          <mat-icon fontIcon="keyboard_backspace" />{{
            BACK | translate
          }}</a
        >
      </div>
    </ng-container>
  </div>
</ng-container>
