@import "src/app/core/styles/material-custom/constants";

.mdc-button--outlined {
  font-weight: 600;
  font-size: 15px;
}

.mdc-button--unelevated {
  font-size: 15px;
  line-height: 21px;
}

.mdc-fab__ripple {
  border-radius: 10px!important;
}
