$green-primary: (
        50 : #e4f3eb,
        100 : #bbe2cc,
        200 : #8ecfab,
        300 : #60bc89,
        400 : #3ead6f,
        500 : #1c9f56,
        600 : #19974f,
        700 : #148d45,
        800 : #11833c,
        900 : #09722b,
        A100 : #a3ffbc,
        A200 : #70ff97,
        A400 : #3dff72,
        A700 : #24ff5f,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$accent: (
        50 : #fdfffe,
        100 : #fbfffd,
        200 : #f8fffb,
        300 : #f5fff9,
        400 : #f2fff8,
        500 : #f0fff7,
        600 : #eefff6,
        700 : #ecfff5,
        800 : #e9fff3,
        900 : #e5fff1,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);



