$primary: #1C9F56;
$text-gray: #808080;
$text-dark-gray: #221F1F;
$white: #FFFFFF;
$light-gray: #F2F2F2;
$gray: #CDD2D9;
$selected-gray: #464646;
$text-teal: #3E77AA;


$background-dark: #0A0B11;
$background-gray: #EEF0F3;
$background-profile-gray: #F3F4F6;
$background-login-gray: #f5f6f8;
$background-green-active: #E4F5EC;
$background-color-filter: #21B174;
$background-green: #1C9F56;
$background-focus-input: #E2FFF0;
$background-error-input: #FFF2F2;
$background-error-icon: #FFCBCB;
$background-success-icon: #DBFFED;
$background-search-input: #F2F9F5;
$background-dropdown-selected: #00883C;
$green-border: #1C9F5680;
$border-error: #FF0000;


$button-border-error: #FF000080;
$button-error-background: #FFEFEF;
$button-background-active: #DCE4EB;
$button-primary: #00A046;
$light-green: #F0FFF7;

