<div class="container-wrapper">
  <app-page-header title="EMPLOYEES">
    <app-button
      [routerLink]="NavigationPaths.CREATE_NEW_EMPLOYEE_TYPE"
      btnType="FLAT"
      [isIconButton]="true"
      title="CREATE_NEW"
      icon="add" />
  </app-page-header>
  <app-page-sub-header
    [additionalButtonsDisabled]="false"
    (onCheckedChange)="onActiveChange($event)" />

  <app-data-table
    [ngClass]="{ load: isBusy }"
    [rsSpinner]="isBusy"
    [keysForSearchFilter]="['name', 'description']"
    [data]="employeesTypeList$ | async"
    [itemsKey]="'employmentTypes'"
    [tableConfig]="employeesTypeListConfig"
    [hasCheckboxColumn]="true"
    [actionConfig]="actionConfig"
    [tableStyle]="'employee-type'"
    [isLoading]="false"
    (actionClicked)="onActionClick($event)"
    (pageChange)="onPageChange($event)" />
</div>
