@import "src/app/core/styles/material-custom/constants";

:host {
  ::ng-deep {
    .mdc-notched-outline__leading, .mdc-notched-outline__trailing, .mdc-notched-outline__notch {
      border: none!important;
    }

    .mat-mdc-text-field-wrapper {
      border: 1px solid $green-border!important;
      border-radius: 10px;
      height: 52px;
    }
  }
}

.field-label {
  font-weight: normal;
  font-size: 15px !important;
  line-height: 21px !important;
  padding-bottom: 10px;
}
