<app-page-header [title]="'GROUP_FUNCTION_DIVISION'"
                 [isPrinting]="isPrinting$ | async"
                 (onActionClicked)="onActionClicked({action: $event, payload: {}})">
  <div class="action-buttons">
    <app-button
      [routerLink]="NavigationPaths.CREATE_NEW_GROUP_FUNCTION_DIVISION"
      [btnType]="ButtonTypeEnum.FLAT"
      [isIconButton]="true"
      [styleConfig]="{ height: '50px', width: '150px' }"
      [title]="'CREATE_NEW' | translate"
      [icon]="'add'"
      (click)="onActionClicked({action: 'add', payload: {}})"
    ></app-button>
  </div>
</app-page-header>

<app-data-table
  [data]="groupFunctionDivisionList$ | async"
  [itemsKey]="'divisions'"
  [tableConfig]="groupFunctionDivisionTableConfig"
  [actionConfig]="divisionActionConfig"
  [tableStyle]="'twoButtons'"
  [isPrinting]="isPrinting$ | async"
  (actionClicked)="onActionClicked($event)"
  (pageChange)="onPageChange($event)"
  (selectedItemsIds)="onSelectedTableItems($event)"
  [hasCheckboxColumn]="true"
></app-data-table>
