<div class="container-wrapper d-flex justify-content-between">
  <div class="switch_wrapper">
    <app-switch-bar
      [checked]="isChecked"
      (checkedChange)="checkedChange($event)" />
    <p>Show In-Active</p>
  </div>

  <div class="action-buttons d-flex">
    <app-button
      [disabled]="additionalButtonsDisabled"
      btnType="STROKED"
      [styleConfig]="{
        width: '130px',
        height: '42px',
        'font-weight': '500'
      }"
      title="EXPORT"
      [isIconButton]="true"
      [icon]="'export'"
      (click)="buttonAction('export')" />
    <app-button
      [disabled]="additionalButtonsDisabled"
      btnType="STROKED"
      [styleConfig]="{
        width: '130px',
        height: '42px',
        'font-weight': '500'
      }"
      [title]="'PRINT'"
      [isIconButton]="true"
      [icon]="'print'"
      (click)="buttonAction('print')" />
  </div>
</div>
