<app-page-header [title]="'BANK_ACCOUNT'"
                 [isPrinting]="isPrinting$ | async"
                 [additionalButtonsDisabled]="(selectedTableAccs$ | async)?.length < 1"
                 (onActionClicked)="onActionClicked({action: $event, payload: {}})">
    <ng-container *ngIf="!(isPrinting$ | async)">
    <div class="action-buttons">
      <app-button
        [styleConfig]="{height: '50px', width: '150px', 'font-weight': '400'}"
        title="{{'IMPORT' | translate}}"
        [isIconButton]="true"
        [icon]="'export'"
        [iconStyleConfig]="{transform: 'rotate(180deg)'}"
        [btnType]="ButtonTypeEnum.STROKED">
      </app-button>
      <app-button
        [btnType]="ButtonTypeEnum.FLAT"
        [isIconButton]="true"
        [styleConfig]="{height: '50px', width: '150px'}"
        title="{{'CREATE_NEW' | translate}}"
        [icon]="'add'"
        [routerLink]="NavigationPaths.CREATE_BANK_ACCOUNT"
        (click)="onActionClicked({action: 'add', payload: {}})">
      </app-button>
    </div>
    </ng-container>
  </app-page-header>

<app-data-table id="print-section"
  [data]="bankAccounts$ | async"
  [itemsKey]="'bankAccounts'"
  [tableConfig]="bankAccountTableConfig"
  [tableStyle]="tableStyle"
  [hasCheckboxColumn]="true"
  [actionConfig]="actionConfig"
  [isPrinting]="isPrinting$ | async"
  [exporting$]="exporting$"
  (actionClicked)="onActionClicked($event)"
  (pageChange)="onPageChange($event)"
  (selectedItemsIds)="onSelectedTableItems($event)"
></app-data-table>
