.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  label {
    font-style: normal;
    font-size: 15px;
    color: #221F1F;
  }

  span {
    font-size: 15px;
    font-style: normal;
    color: #808080;
  }

  span:first-child {
    font-size: 15px;
    font-style: normal;
    color: #221f1f;
  }
}