<app-page-header
  title="CREATE_NEW"
  [isSubHeaderShowed]="false"
  [isBackBtnShowed]="true" />

<app-form-card>
  <h1 class="heading">{{ ADD_POSITION | translate }}</h1>

  <app-form-builder
    [formFields]="positionFormConfig"
    (createdForm)="form = $event"
    (selectedFormValue)="formValueChanged($event)" />

  <div class="d-flex justify-content-around align-items-center">
    <app-button
      (click)="addPosition(form)"
      btnType="FLAT"
      [styleConfig]="{ width: '150px', height: '50px' }"
      [isIconButton]="true"
      title="SAVE"
      icon="success" />
    <app-button
      [routerLink]="NavigationPaths.BACK"
      colorTheme="warn"
      [styleConfig]="{ width: '150px', height: '50px' }"
      btnType="FLAT"
      [isIconButton]="true"
      title="CANCEL"
      icon="cancel" />
  </div>
</app-form-card>
