@import 'src/app/core/styles/material-custom/constants';

button {
  width: 100%;
  border-radius: 10px;

  .flex-container {
    display: flex;
    align-items: center;
    letter-spacing: 0;
  }

  .default {
    .mat-icon {
      margin-left: 14px;
    }
  }

  .after-text {
    .mat-icon {
      margin-left: 5px;
    }
  }

  ::ng-deep mat-icon {
    .mat-badge-content{
      font-size: 10px!important;
      right: -11px!important;
      top: 4px!important;
      width: 20px!important;
      height: 20px!important;
    }
  }
}

.small {
  height: 40px!important;
}

.large {
  height: 52px!important;
}
