@import 'src/app/core/styles/material-custom/constants';
@import "src/app/core/styles/mixins/fonts-mixin";

div { border-radius: 10px; background: transparent!important; }

.icon-btn {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

.little-icon-btn {
  padding: 0!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

div {
  border-radius: 10px;
  background: transparent !important;
}

button {
  //@include fontStyle(middle-text);
  width: 100%;
  border-radius: 10px;


  .flex-container {
    display: flex;
    align-items: center;
    letter-spacing: 0;
  }

  ::ng-deep mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 18px !important;
      height: 18px !important;
    }

    .mat-badge-content {
      font-size: 10px !important;
      right: -11px !important;
      top: 4px !important;
      width: 20px !important;
      height: 20px !important;
    }
  }
}

.disabled {
  button {
    color: $text-gray!important;

    .mat-icon {
      color: $text-gray!important;
      background: initial !important;
    }
    background: rgba(0, 0, 0, 0.12)!important;
  }
}

.primary {
  .mdc-icon-button {
    border-radius: 99px;
  }

  .mat-mdc-outlined-button {
    border: 1px solid $green-border;
    background: $light-green;
  }

  .mdc-fab, .flat-button {
    border-radius: 10px;
    background: $button-primary;
    color: $white;
  }
}

.link {
  button {
    color: #3E77AA;
  }

  .mat-mdc-outlined-button {
    border: 1px solid #3E77AA80;
    &:hover {
      background: #F0F8FF;
      border-color: #3E77AA;
    }
  }
}

.warn {
  .mdc-icon-button {
    border-radius: 99px;
  }

  color: $selected-gray;
  border: 1px solid $button-border-error !important;
  border-radius: 10px;

  .mat-icon {
    color: $border-error;
  }

  .mat-mdc-unelevated-button:not(:disabled) {
    background: #FFEFEF;
    background: $button-error-background;
  }
}

.basic {
  button {
    color: $text-dark-gray;
  }

  .mdc-fab, .flat-button {
    border-radius: 10px;
    box-shadow: 1px 1px 5px $text-gray!important;
    background: $white;
    color: $text-gray;

    &:hover {
      color: $text-dark-gray!important;
    }
  }
}

.default {
  .mat-icon {
    margin-left: 14px;
  }
}

.afterText {
  .mat-icon {
    margin-left: 5px;
  }
}

.beforeText {
  .mat-icon {
    margin-right: 5px;
  }
  flex-direction: row-reverse;
}

