<div [class]="colorTheme"  [ngClass]="{ disabled: disabled }">
  <ng-container [ngSwitch]="btnType">
    <button
      [style]="styleConfig"
      mat-stroked-button
      *ngSwitchCase="buttonTypeEnum.STROKED"
      [disabled]="disabled"
    >
      <div [class]="'flex-container ' + iconPosition">
        {{ title | translate }}
        <mat-icon [style]="iconStyleConfig" *ngIf="isIconButton" [svgIcon]="icon"></mat-icon>
      </div>
    </button>

    <button
      [style]="styleConfig"
      mat-icon-button
      *ngSwitchCase="buttonTypeEnum.LITTLE_ICON"
      [disabled]="disabled"
      class="little-icon-btn"
    >
      <mat-icon
        *ngIf="isBadgeShowed"
        [matBadge]="badgeInfo"
        [style]="iconStyleConfig"
        matBadgeColor="warn"
        [svgIcon]="icon"
      ></mat-icon>
      <mat-icon [style]="iconStyleConfig" *ngIf="!isBadgeShowed" [svgIcon]="icon"></mat-icon>
    </button>

    <button
      mat-icon-button
      [style]="styleConfig"
      *ngSwitchCase="buttonTypeEnum.ICON"
      [disabled]="disabled"
      class="icon-btn"
    >
      <mat-icon
        *ngIf="isBadgeShowed"
        [matBadge]="badgeInfo"
        [style]="iconStyleConfig"
        matBadgeColor="warn"
        [svgIcon]="icon"
      ></mat-icon>
      <mat-icon [style]="iconStyleConfig" *ngIf="!isBadgeShowed" [svgIcon]="icon"></mat-icon>
    </button>

    <button
      [style]="styleConfig"
      mat-fab
      *ngSwitchCase="buttonTypeEnum.FAB"
      [disabled]="disabled"
    >
      <mat-icon  *ngIf="isIconButton"[svgIcon]="icon"></mat-icon>
    </button>

    <ng-container
      *ngSwitchCase="buttonTypeEnum.FLAT"
    >
      <button
        *ngIf="iconPosition === 'beforeText'"
        [style]="styleConfig"
        [disabled]="disabled"
        mat-fab extended>
        <mat-icon  [style]="iconStyleConfig" [svgIcon]="icon"></mat-icon>
        {{ title | translate }}
      </button>

      <button
        *ngIf="iconPosition === 'afterText'"
        [style]="styleConfig"
        mat-flat-button
        class="flat-button"
        [disabled]="disabled"
      >
        <div [class]="'flex-container ' + iconPosition">
          {{ title | translate }}
          <mat-icon *ngIf="isIconButton"  [style]="iconStyleConfig" [svgIcon]="icon"></mat-icon>
        </div>
      </button>

    </ng-container>

    <button
      [style]="styleConfig"
      mat-flat-button *ngSwitchDefault
      class="flat-button"
      [disabled]="disabled"
    >
      <div [class]="'flex-container ' + iconPosition">
        {{ title | translate }}
      </div>
    </button>

  </ng-container>
</div>



