<ng-container>
  <ng-container [ngSwitch]="btnType">
    <button
      [class]="size"
      mat-stroked-button
      *ngSwitchCase="buttonTypeEnum.STROKED"
      [color]="colorTheme"
      [disabled]="disabled"
    >
      <div [class]="'flex-container ' + iconPosition">
        {{ title | translate }}
        <mat-icon [style.color]="disabled ? disabledBtnIconColor : _iconColor"
                  *ngIf="isIconButton">{{ icon }}</mat-icon>
      </div>
    </button>

    <button
      [class]="size"
      mat-icon-button
      *ngSwitchCase="buttonTypeEnum.ICON"
      [disabled]="disabled"
    >
      <mat-icon *ngIf="isBadgeShowed" [matBadge]="badgeInfo" matBadgeColor="warn">{{ icon }}</mat-icon>
      <mat-icon [style.color]="disabled ? disabledBtnIconColor : _iconColor"
                *ngIf="!isBadgeShowed">{{ icon }}</mat-icon>
    </button>

    <button
      [class]="size"
      mat-fab
      *ngSwitchCase="buttonTypeEnum.FAB"
      [color]="colorTheme"
      [disabled]="disabled"
    >
      <mat-icon [style.color]="disabled ? disabledBtnIconColor : _iconColor">{{ icon }}</mat-icon>
    </button>

    <ng-container
      *ngSwitchCase="buttonTypeEnum.FLAT"
    >
      <button *ngIf="iconPosition === 'beforeText'" [class]="size" mat-fab extended [color]="colorTheme">
        <mat-icon>{{ icon }}</mat-icon>
        {{ title | translate }}
      </button>
      <button
        *ngIf="iconPosition === 'default' || iconPosition === 'after-text'"
        [class]="size"
        mat-flat-button
        color="primary"
        [disabled]="disabled"
      >
        <div [class]="'flex-container ' + iconPosition">
          {{ title | translate }}
          <mat-icon [style.color]="disabled ? disabledBtnIconColor : _iconColor"
                   >{{ icon }}</mat-icon>
        </div>
      </button>
    </ng-container>

    <button [class]="size" mat-flat-button *ngSwitchDefault [color]="colorTheme">
      <div [class]="'flex-container ' + iconPosition">
        {{ title | translate }}
      </div>
    </button>

  </ng-container>
</ng-container>



