@import "src/app/core/styles/material-custom/constants";

:host {
  width: 100%;

  .textbox {
    ::ng-deep {
      .input-focus {
        input[type="text"], input[type="password"], input[type="email"] {
          -webkit-box-shadow: 0 0 0 1000px $background-focus-input inset;
          -moz-box-shadow: 0 0 0 1000px $background-focus-input inset;
        }
        .prefix-icon {
          color: $primary !important;
          background: $white;
        }

        .mat-mdc-text-field-wrapper {
          background: $background-focus-input;
        }
      }

    .mat-icon {
      min-height: 36px;
      min-width: 36px;
      color: $text-gray;
      background: $light-gray;
      border-radius: 99px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

    input {
      font-size: 15px !important;
      line-height: 21px !important;
      font-family: 'Source Sans Pro', sans-serif !important;
      padding-left: 8px;
    }

    .field-label {
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      padding-bottom: 10px;
    }

    .input-icons {
      .input-icon-success {
        color: $primary;
        background: transparent;
      }

      .password-icon {
        color: $text-gray;
        background: transparent;
      }


      .input-icon-error {
        color: $border-error;
        background: transparent;
      }
    }

    .input-password {
      letter-spacing: 1px;
      font-size: 50px;
    }

    .input-error {
      ::ng-deep {
        input[type="text"], input[type="password"], input[type="email"] {
          -webkit-box-shadow: 0 0 0 1000px $background-error-input inset;
          -moz-box-shadow: 0 0 0 1000px $background-error-input inset;
        }
        .mdc-notched-outline__trailing {
          border-color: $border-error !important;
        }

        .mat-mdc-form-field-error-wrapper {
          padding: 0;
        }

        .mat-mdc-text-field-wrapper {
          background: $background-error-input !important;

          .prefix-icon {
            background: $background-error-icon;
            color: $border-error;
          }
        }
      }
    }

    .input-success {
      ::ng-deep {
        input[type="text"], input[type="password"], input[type="email"] {
          -webkit-box-shadow: 0 0 0 1000px $white inset;
          -moz-box-shadow: 0 0 0 1000px $white inset;
        }

        .mdc-notched-outline__trailing {
          border-color: $white !important;
        }

        .mat-mdc-text-field-wrapper {
          border-radius: 10px;
          background: $white;

          .prefix-icon {
            color: $primary;
            background: $background-success-icon;
          }
        }
      }
    }

    .hint-link {
      color: $text-teal;
      &:hover {
        color: $background-dropdown-selected;
      }
    }

    textarea {
      resize: none;
      height: 100% !important;
      padding: 8px !important;
      font-size: 15px !important;
      line-height: 21px !important;
      font-family: 'Source Sans Pro', sans-serif !important;
    }
  }
}
