<header class="header-container">
    <div class="logo">rota <span class="secondary-text">sheet</span></div>

    <app-button class="company-setting-btn" [btnType]="buttonTypeEnum.STROKED" [isIconButton]="true" [title]="'Upwork USA Incorporation'" [icon]="'settings'"></app-button>

    <div class="profile-actions">
        <app-button [btnType]="buttonTypeEnum.ICON" [isBadgeShowed]="true" [badgeInfo]="10" [icon]="'notification'"></app-button>
        <app-button [btnType]="buttonTypeEnum.ICON" [icon]="'settings'"></app-button>
        <app-button [btnType]="buttonTypeEnum.ICON" [icon]="'help'"></app-button>

        <div class="profile-info">
            <p class="profile-name">Mocked. Name.</p>
            <div class="profile-img">
                <mat-icon svgIcon="person"></mat-icon>
            </div>
        </div>
    </div>

</header>
