<div class="form" [formGroup]="form"
     [ngStyle]="styleConfig">

  <ng-container *ngFor="let formField of formFields" [ngSwitch]="formField.componentType">
    <div *ngSwitchCase="componentType.TEXTBOX">
      <app-textbox
        [formControlName]="formField.key"
        [label]="formField.label"
        [inputType]="formField.inputType!"
        [placeholder]="formField.placeholder!"
        [icon]="formField.icon!"
        [formControl]="$any(form.controls[formField.key])"
        [styleConfig]="formField.styleConfig!"
        [hintText]="formField.hint!"
        [hintLink]="formField.hintLink!"
        [maxLength]="formField.maxLength!"
        [extendedValidation]="formField.extendedValidation ?? false"
        [defaultValue]="formField.data"
        [class.disabled]="formField.disabled"
      ></app-textbox>
    </div>
    <div *ngSwitchCase="componentType.DROPDOWN">

      <app-dropdown
        [formControlName]="formField.key"
        [title]="formField.label"
        [data]="formField.data"
        [class.disabled]="formField.disabled"
        (selectChanged)="selectChanged($event, formField.key)"
      ></app-dropdown>
    </div>

    <div *ngSwitchCase="componentType.PHONE">
      <app-phone-select
        [formControlName]="formField.key"
        [title]="formField.label"
        [data]="formField.data"
      ></app-phone-select>
    </div>

    <div *ngSwitchCase="componentType.TEXT">
      text
    </div>
    <div *ngSwitchCase="componentType.DATEPICKER">
      datepicker
    </div>

    <div *ngSwitchCase="componentType.NUMERIC">
      numeric
    </div>
    <div *ngSwitchCase="componentType.RADIO">
      radio
    </div>
  </ng-container>

  <ng-container *ngIf="actionButtonIncluded">
    <div class="action-btn">
      <ng-content></ng-content>
    </div>
  </ng-container>

</div>
