<div class="form" [formGroup]="form" [ngStyle]="{ width: width ? width + 'px' : '', height: height ? height + 'px': '' }" >

  <ng-container *ngFor="let formField of formFields">
    <ng-container [ngSwitch]="formField.componentType">
      <div *ngSwitchCase="componentType.TEXTBOX">
        <app-textbox
          [formControlName]="formField.key"
          [label]="formField.label"
          [inputType]="formField.inputType"
          [placeholder]="formField.placeholder"
          [icon]="formField.icon"
          [formControl]="$any(form.controls[formField.key])"
          [width]="'100%'"
        ></app-textbox>
      </div>
      <div *ngSwitchCase="componentType.DROPDOWN">

        <app-dropdown
          [formControlName]="formField.key"
          [title]="formField.label"
          [data]="formField.data"
        ></app-dropdown>
      </div>

      <div *ngSwitchCase="componentType.TEXT">
          text
      </div>
      <div *ngSwitchCase="componentType.DATEPICKER">
          datepicker
      </div>

      <div *ngSwitchCase="componentType.NUMERIC">
          numeric
      </div>
      <div *ngSwitchCase="componentType.RADIO">
          radio
      </div>

    </ng-container>
  </ng-container>

  <ng-content></ng-content>
</div>
