<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="hasOwnPropertyInError('registerPasswordError')">
    <span class="mobile-error">{{ 'REGISTER_PASSWORD_ERROR_SHORT' | translate }}</span>
    <span class="desktop-error">{{ 'REGISTER_PASSWORD_ERROR' | translate }}</span>
  </ng-container>

  <ng-container *ngSwitchCase="hasOwnPropertyInError('LoginPasswordError')">
    {{ 'LOGIN_PASSWORD_ERROR' | translate }}
  </ng-container>

  <ng-container *ngSwitchCase="hasOwnPropertyInError('email')">
    {{ 'EMAIL_ERROR' | translate }}
  </ng-container>

  <ng-container *ngSwitchCase="hasOwnPropertyInError('mustMatch')">
    {{ 'REPEAT_PASSWORD_ERROR' | translate }}
  </ng-container>

  <ng-container *ngSwitchCase="hasOwnPropertyInError('excludeSymbolsValidator')">
    {{ 'SYMBOL_ERROR' | translate }}
  </ng-container>
</ng-container>
