<app-page-header title="CREATE_NEW" [isBackBtnShowed]="true" />

<app-form-card>
  <h1 class="heading">{{ ADD_INFORMATION | translate }}</h1>

  <app-form-builder
    [formFields]="departmentFormConfig"
    (createdForm)="form = $event" />

  <div class="d-flex justify-content-around align-items-center">
    <app-button
      (click)="addDepartment(form)"
      btnType="FLAT"
      [styleConfig]="{ width: '150px', height: '50px' }"
      [isIconButton]="true"
      title="SAVE"
      icon="success" />
    <app-button
      [routerLink]="NavigationPaths.BACK"
      colorTheme="warn"
      [styleConfig]="{ width: '150px', height: '50px' }"
      btnType="FLAT"
      [isIconButton]="true"
      title="CANCEL"
      icon="cancel" />
  </div>
</app-form-card>
