<mat-form-field appearance="outline">
  <mat-label>{{ 'Select' | translate}} {{ title | translate }}</mat-label>
  <mat-select (valueChange)="setFormValue($event)">
    <mat-option>{{ 'NONE' | translate }}</mat-option>
    <ng-container *ngIf="isObservable(data); else defaultType">
      <ng-container *ngIf="data | async as asyncData">
        <mat-option *ngFor="let value of asyncData" [value]="value[valueField]">
          {{ value[textField] }}
        </mat-option>
      </ng-container>
    </ng-container>
    <ng-template #defaultType>
      <mat-option *ngFor="let value of data" [value]="value[valueField]">
        {{ value[textField] }}
      </mat-option>
    </ng-template>
  </mat-select>
</mat-form-field>
