@import "src/app/core/styles/material-custom/constants";
@import "src/app/core/styles/mixins/fonts-mixin";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-fields {
  margin-top: 30px;
  padding: 10px;

  .container {
    display: block;
    overflow: auto;
  }

  .row-field, .title {
    width: calc(1046px - 24px);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
  }

  .field-name, .mapping, .select-headers, .column-name {
    @include fontStyle(text-middle);

    width: 33.33%;
    align-items: center;
    display: flex;
  }

  .field-name {
    &:after {
      margin-left: 2px;
      content: '*';
      color: $border-error;
    }
  }

  .title, {
    height: 50px;
    background: $background-light-blue;

    .column-name {
      font-weight: 600;
    }
  }

  .row-field {
    height: 52px;
    margin-top: 12px;
    background: $background-login-gray;

    ::ng-deep {
      .mat-mdc-form-field-infix, app-dropdown, .mat-mdc-text-field-wrapper, .mat-mdc-form-field-flex {
        width: 100%;
        height: 40px !important;
        min-height: 40px !important;
      }

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }

    .mapping {
      width: calc(33.33% - 70px);
      padding-right: 70px;
      justify-content: space-between;

      ::ng-deep.mat-icon {
        transform: rotate(-90deg);

        svg {
          color: $text-gray !important;
        }
      }
    }
  }
}

.actions-button {
  margin-top: 40px;
  width: 270px;
}
