<app-header-content
  [title]="'DEFAULT_FIELDS_MAPPING'"
  [subTitle]="'MAPPING_UPLOADING'"
  [formGroup]="form"
  [styleConfig]="{ 'max-width': '1166px'}"
>
  <div class="content-fields d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="title">
        <div class="column-name" *ngFor="let name of columnNames">
          <span>{{ name }}</span>
        </div>
      </div>

      <div class="row-field"  *ngFor="let rota of rotaSheetFields">
        <div class="field-name" >
          <span>{{ rota.fieldName }}</span>
        </div>
        <div class="mapping">
          <span>{{ rota.type | translate }}</span>
          <mat-icon [svgIcon]="'long-arrow'"></mat-icon>
        </div>
        <div class="select-headers">
          <app-dropdown [data]="$any(fileFields)" [formControlName]="rota.fieldName"></app-dropdown>
        </div>
      </div>

    </div>
  </div>
</app-header-content>
<div class="actions-button d-flex justify-content-around align-items-center">
  <app-button [title]="'BACK'"
              (btnClick)="matStepper.previous()"
              [styleConfig]="{ background: '#E4EDF4', color: '#464646', height: '50px', width: '112px' }"
  ></app-button>
  <app-button [styleConfig]="{ height: '52px', width: '132px' }"
              [title]="'PREVIEW'"
              [disabled]="!form.valid"
              (btnClick)="nextStep()"
  ></app-button>
</div>
