<div class="sub-header flex">
  <div class="action-buttons d-flex justify-content-end">
    <app-button
      [disabled]="additionalButtonsDisabled"
      btnType="STROKED"
      [styleConfig]="{
        width: '130px',
        height: '42px',
        'font-weight': '500'
      }"
      title="DOWNLOAD"
      [isIconButton]="true"
      icon="download"
      (click)="buttonAction('download')" />
    <app-button
      [disabled]="additionalButtonsDisabled"
      btnType="STROKED"
      [styleConfig]="{
        width: '130px',
        height: '42px',
        'font-weight': '500'
      }"
      title="ANALYSIS"
      [isIconButton]="true"
      icon="reports-analytics"
      (click)="buttonAction('analysis')" />
  </div>
</div>
