@import "src/app/core/styles/material-custom/constants";

:host {
  display: block;
  height: 100vh;
  width: 100vw;

  mat-drawer-container {
    height: calc(100% - 60px);

    mat-drawer {
      a:first-of-type {
        margin-top: 10px;
      }
    }
  }
}

.side-menu {
  max-width: 220px;
  width: 100%;

  .navigation-link {
    height: 50px;
    font-size: 15px;
    line-height: 21px;
    text-decoration: none;
    color: $text-dark-gray;

    mat-icon {
      margin-left: 20px;
      margin-right: 16px;
    }

    .search {
      color: $text-gray;
      font-size: 15px;
      font-family: 'Source Sans Pro', sans-serif !important;
      height: 17px;
    }

    .sub-tabs {
      margin-left: 8px;
    }
  }

  .bottom-actions {
    width: 100%;
    position: absolute;
    bottom: 0;

    mat-slide-toggle {
      font-size: 14px;
      line-height: 21px;
      margin-left: 20px;
    }
  }

  .side-menu-toggle {
    position: absolute;
    z-index: 100;
  }
}

.disabled {
  color: grey !important;
  pointer-events: none;
}

.active-link {
  color: $primary!important;
  background-color: $background-green-active;
  font-weight: 600;
  border-right: solid;

  mat-icon {
    margin-left: 30px!important;
  }
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 13px;
  margin-top: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.full {
  width: 220px;
}

.collapsed {
  width: 80px;
}

