<div class="d-flex justify-content-center flex-column">
  <div class="field-label">
    <span>{{ title | translate }}</span>
  </div>

  <mat-form-field appearance="outline">
    <input
           class="phone-input"
           type="number"
           [placeholder]="placeholder | translate"
           matInput
           [(ngModel)]="selectedValue"
           (ngModelChange)="setFormValue($event)"
           [matAutocomplete]="auto">
    <div matPrefix class="d-flex">
      <mat-icon *ngIf="icon" class="phone-icon">{{icon}}</mat-icon>
      <div class="selected-phone d-flex align-items-center justify-content-center" *ngIf="selectedPhone?.countryFlag">
        <img  src="{{ $any(selectedPhone?.countryFlag) | country }}" alt="country flag">
        <span class="phone-code">{{ selectedPhone?.dialingCode}}</span>
      </div>
    </div>

    <mat-icon matIconSuffix>{{autoComplete?._isOpen ? 'expand_less' : 'expand_more'}}</mat-icon>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionText" (optionSelected)="onPhoneSelection($event)">
      <mat-option *ngFor="let value of data | async" [value]="value[valueField]">
        <img class="country-flag" *ngIf="value['countryFlag']" src="{{ $any(value['countryFlag']) | country }}" alt="country flag">
        <span>{{ value[textField] }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
