@import "src/app/core/styles/material-custom/constants";

.phone-input::-webkit-outer-spin-button,
.phone-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field-label {
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  padding-bottom: 10px;
}

.phone-input[type=number] {
  -moz-appearance: textfield;
  padding-left: 8px;

  &::placeholder {
    color: $text-gray;
    font-size: 15px;
    padding-left: 8px;
    font-family: 'Source Sans Pro', sans-serif !important;
  }
}

.selected-phone {
  width: 86px;
  background-color: $background-login-gray;
  border-radius: 6px;
  margin-left: 6px;
  margin-right: 6px;

  .phone-code {
    color: $primary;
    margin-left: 6px;
  }
}

.country-flag {
  margin-right: 12px;
}

.phone-icon {
  min-height: 36px;
  min-width: 36px;
  color: $text-gray;
  background: $light-gray;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
