@import "src/app/core/styles/material-custom/constants";

::ng-deep .settings-tab-group .mat-mdc-tab-labels {
  max-width: 1260px;
}

::ng-deep .mat-mdc-tab-labels {
  background-color: $white!important;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  margin-top: 27px !important;
}

::ng-deep .mdc-tab-indicator--active {
  background-color: $text-teal!important;
  border-radius: 10px;

  ::ng-deep .mdc-tab__text-label {
    color: $white!important;
  }
}

::ng-deep .mat-mdc-tab {
  flex-grow: 0 !important;
}

::ng-deep .mat-mdc-tab-header-pagination-chevron {
  margin-top: 26px;
}

::ng-deep .mdc-tab__text-label {
  color: $text-light-gray!important;
  font: normal normal 600 16px/22px Source Sans Pro;
  letter-spacing: 0;
  padding: 0 15px;
}

::ng-deep .mdc-tab-indicator__content {
  display: none;
}

.custom-label {
  width: 100%;
  height: 100%;
}

.table-container {
  margin-top: 30px;
}

.action-container {
  display: flex;
  justify-content: center;

  app-button {
    margin: 0 15px;
    padding-bottom: 15px;
  }
}
