<app-login-page
  [title]="title"
  [subtitle]="subtitle"
  [logoInformation]="logoInformation"
  [redirectText]="redirectText"
  [redirectRoute]="redirectRoute"
  [imgUrl]="imgUrl">
  <app-form-builder
    [styleConfig]="{ width: '100%', 'max-width': '480px' }"
    [formFields]="formFields"
    (createdForm)="form = $event">
    <app-button
      [disabled]="!form.valid"
      (btnClick)="onSubmit()"
      [title]="'CONTINUE'"
      [icon]="'long-arrow'"
      [btnType]="'FLAT'"
      [isIconButton]="true"
      [iconPosition]="'afterText'"
      [styleConfig]="{ height: '52px' }"
      [iconStyleConfig]="{ transform: 'rotate(-90deg)' }" />
  </app-form-builder>
</app-login-page>
