<app-login-page
  [title]="title"
  [subtitle]="subtitle"
  [logoInformation]="logoInformation"
  [redirectText]="redirectText"
  [redirectRoute]="redirectRoute"
  [imgUrl]="imgUrl"
>
  <app-form-builder
    [width]="480"
    [formFields]="formFields"
    (createdForm)="form = $event"
  >
    <app-button
      [disabled]="form.invalid"
      (click)="onSubmit()"
      [title]="'CONTINUE'"
      [icon]="'arrow_right_alt'"
      [isIconButton]="true"
      [iconPosition]="'beforeText'"
      [iconColor]="'white'"
      [size]="'large'"
    ></app-button>
  </app-form-builder>
</app-login-page>
