<app-page-header title="EMPLOYEES" [isBackBtnShowed]="true" />

<app-form-card>
  <h1 class="heading">Add Employee</h1>

  <app-form-builder
    (createdForm)="form = $event"
    [formFields]="createEmployeeFormConfig" />
</app-form-card>

<div class="action-container" *ngIf="!onSave">
  <app-button
    btnType="FLAT"
    [isIconButton]="true"
    [styleConfig]="{ height: '50px', width: '150px' }"
    [icon]="'success'"
    title="SAVE"
    (btnClick)="toggleOnSave()" />

  <app-button
    [colorTheme]="'warn'"
    [styleConfig]="{ width: '150px', height: '50px' }"
    btnType="FLAT"
    [isIconButton]="true"
    title="CANCEL"
    [icon]="'cancel'"
    [routerLink]="'/dashboard/employees-enums'"></app-button>
</div>
