<form class="form" [formGroup]="form" [ngStyle]="styleConfig">
  <ng-container *ngFor="let formField of formFields">
    <ng-container
      *ngIf="formField.type === FormControlNameEnum.INPUT">
      <app-input
        [label]="formField.config.label"
        [inputType]="formField.config.inputType"
        [placeholder]="formField.config.placeholder"
        [formControl]="$any(form.controls[formField.key])"
        [styleConfig]="formField.config.styleConfig"
        [maxLength]="formField.config.maxLength"
        [readonly]="formField.config.readonly" />
    </ng-container>

    <ng-container
      *ngIf="formField.type === FormControlNameEnum.TEXTAREA">
      <app-textarea
        [formControl]="$any(form.controls[formField.key])"
        [label]="formField.config.label"
        [styleConfig]="formField.config.styleConfig"
        [placeholder]="formField.config.placeholder"
        [readonly]="formField.config.readonly" />
    </ng-container>
  </ng-container>

  <ng-container *ngIf="actionButtonIncluded">
    <div class="action-btn">
      <ng-content></ng-content>
    </div>
  </ng-container>
</form>
