@import "src/app/core/styles/material-custom/constants";

.sub-menu-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  text-decoration: unset;
  padding-left: 20px;
  color: $text-dark-gray;
  font-size: 15px;
  line-height: 21px;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.active-button {
  background: $button-background-active;
  font-weight: 600;
  border-right: solid;
  padding-left: 30px;
}
