<app-page-header title="BENEFIT" [isPrinting]="isPrinting$.value">
  <div class="action-buttons d-flex">
    <app-button
      [styleConfig]="{
        height: '50px',
        width: '150px',
        'font-weight': '400'
      }"
      title="IMPORT"
      [isIconButton]="true"
      icon="export"
      [iconStyleConfig]="{ transform: 'rotate(180deg)' }"
      btnType="STROKED" />
    <app-button
      [routerLink]="CREATE_NEW_BENEFIT"
      btnType="FLAT"
      [isIconButton]="true"
      [styleConfig]="{ height: '50px', width: '150px' }"
      title="CREATE_NEW"
      icon="add" />
  </div>
</app-page-header>
<app-page-sub-header
  [additionalButtonsDisabled]="
    (selectedTableAccs$ | async)?.length < 1
  "
  (onActionClicked)="
    onActionClick({ action: $event, payload: {} })
  " />

<app-data-table
  [data]="benefitsList$ | async"
  itemsKey="benefits"
  [tableConfig]="benefitListConfig"
  (actionClicked)="onActionClick($event)"
  tableStyle="benefitListConfig"
  [isPrinting]="isPrinting$.value"
  [actionConfig]="actionConfig"
  (pageChange)="onPageChange($event)"
  [isLoading]="isLoading"
  [hasCheckboxColumn]="true"
  (selectedItemsIds)="onSelectedTableItems($event)" />
