<app-login-page
  [title]="title"
  [subtitle]="subtitle"
  [logoInformation]="logoInformation"
  [imgUrl]="imgUrl"
>
  <app-form-builder
    [styleConfig]="{ width: '100%', 'max-width': '480px' }"
    [formFields]="formFields"
    (createdForm)="form = $event"
  >
    <div class="action-buttons d-flex flex-column align-items-center justify-content-between">
      <app-button
        (btnClick)="onSubmit()"
        [disabled]="form.invalid"
        [title]="'CONTINUE'"
        [icon]="'arrow_forward'"
        [iconPosition]="'after-text'"
        [btnType]="'FLAT'"
        [isIconButton]="true"
        [styleConfig]="{ height: '52px' }"
      ></app-button>
      <app-button
        [routerLink]="'../registration'"
        [title]="'BACK'"
        [btnType]="'FLAT'"
        [icon]="'arrow_back'"
        [iconPosition]="'beforeText'"
        [colorTheme]="'basic'"
        [styleConfig]="{ height: '52px' }"
      ></app-button>
    </div>
  </app-form-builder>
</app-login-page>
