<app-page-header [title]="'GRADE_CATEGORY'"
                 [isPrinting]="isPrinting$ | async"
                 (onActionClicked)="onActionClicked({action: $event, payload: {}})">
  <div class="action-buttons">
    <app-button
      [routerLink]="NavigationPaths.CREATE_NEW_GRADE_CATEGORY"
      [btnType]="ButtonTypeEnum.FLAT"
      [isIconButton]="true"
      [styleConfig]="{ height: '50px', width: '150px' }"
      [title]="'CREATE_NEW' | translate"
      [icon]="'add'"
    ></app-button>
  </div>
</app-page-header>

<app-data-table
  [data]="gradeCategoriesList$ | async"
  [itemsKey]="'gradeCategories'"
  [tableConfig]="gradeCategoryTableConfig"
  [tableStyle]="'twoButtons'"
  [hasCheckboxColumn]="true"
  [actionConfig]="actionConfig"
  [isPrinting]="isPrinting$ | async"
  (actionClicked)="onActionClicked($event)"
  (pageChange)="onPageChange($event)"
  (selectedItemsIds)="onSelectedTableItems($event)"
></app-data-table>
