<app-page-header
  [title]="'GRADE_CATEGORY'"
  [isPrinting]="isPrinting$ | async">
  <div class="action-buttons">
    <app-button
      [routerLink]="NavigationPaths.CREATE_NEW_GRADE_CATEGORY"
      [btnType]="ButtonTypeEnum.FLAT"
      [isIconButton]="true"
      [styleConfig]="{ height: '50px', width: '150px' }"
      title="CREATE_NEW"
      [icon]="'add'"></app-button>
  </div>
</app-page-header>
<app-page-sub-header
  [additionalButtonsDisabled]="
    (selectedTableAccs$ | async)?.length < 1
  "
  (onActionClicked)="
    onActionClicked({ action: $event, payload: {} })
  " />
<app-data-table
  [data]="gradeCategoriesList$ | async"
  [itemsKey]="'gradeCategories'"
  [tableConfig]="gradeCategoryTableConfig"
  [tableStyle]="'twoButtons'"
  [hasCheckboxColumn]="true"
  [actionConfig]="actionConfig"
  [isPrinting]="isPrinting$ | async"
  [exporting$]="exporting$"
  (actionClicked)="onActionClicked($event)"
  (pageChange)="onPageChange($event)"
  (selectedItemsIds)="onSelectedTableItems($event)"
  [isLoading]="false" />
