<app-page-header title="POSITION" [isPrinting]="isPrinting$.value">
  <app-page-sub-header
    [additionalButtonsDisabled]="
      (selectedTableAccs$ | async)?.length < 1
    "
    (onActionClicked)="
      onActionClicked({ action: $event, payload: {} })
    " />
  <div class="action-buttons d-flex">
    <app-button
      [styleConfig]="{
        height: '50px',
        width: '150px',
        'font-weight': '400'
      }"
      title="IMPORT"
      [isIconButton]="true"
      [icon]="'export'"
      [iconStyleConfig]="{ transform: 'rotate(180deg)' }"
      btnType="STROKED" />
    <app-button
      [routerLink]="NavigationPaths.CREATE_NEW_POSITION"
      btnType="FLAT"
      [isIconButton]="true"
      [styleConfig]="{ height: '50px', width: '150px' }"
      title="CREATE_NEW"
      [icon]="'add'" />
  </div>
</app-page-header>

<app-data-table
  [data]="positionList$ | async"
  itemsKey="positions"
  [tableConfig]="positionsTableConfig"
  [tableStyle]="'positionTableStyle'"
  [actionConfig]="divisionActionConfig"
  [isPrinting]="isPrinting$.value"
  [exporting$]="exporting$"
  [isLoading]="false"
  (actionClicked)="onActionClicked($event)"
  (pageChange)="onPageChange($event)"
  (selectedItemsIds)="onSelectedTableItems($event)"
  [hasCheckboxColumn]="true" />
