<app-page-header
  title="FOLDER_LIST"
  [isSubHeaderShowed]="false"
  [isDocumentSubHeaderShowed]="true">
  <div class="action-buttons">
    <app-button
      [routerLink]="NavigationPaths.CREATE_FOLDER"
      btnType="FLAT"
      [isIconButton]="true"
      [styleConfig]="{ height: '50px', width: '150px' }"
      title="CREATE_NEW"
      icon="add"></app-button>
  </div>
</app-page-header>

<app-data-table
  [data]="foldersList$ | async"
  [itemsKey]="'documentCategories'"
  [tableConfig]="foldersListConfig"
  (actionClicked)="onActionClick($event)"
  [actionConfig]="actionConfig"
  (pageChange)="onPageChange($event)"
  [hasCheckboxColumn]="true"
  [isSorting]="false">
</app-data-table>
