
.action-buttons {
  margin-right: 40px;

  app-button {
    ::ng-deep button {
      width: 150px;
      height: 50px;
      border-radius: 10px;

      mat-icon {
        color: white!important;
      }
    }
  }
}
