<app-page-header [title]="title">
  <div class="action-buttons">
    <app-button
      [routerLink]="NavigationPaths.CREATE_COMPANY"
      btnType="FLAT"
      [isIconButton]="true"
      [styleConfig]="{ height: '50px', width: '150px' }"
      title="CREATE_NEW"
      icon="add" />
  </div>
</app-page-header>

<app-data-table
  [data]="companies$ | async"
  itemsKey="companies"
  [tableConfig]="companyListConfig"
  (actionClicked)="onActionClicked($event)"
  (pageChange)="onPageChange($event)"
  [hasCheckboxColumn]="true"
  [isLoading]="false" />
