<app-page-header [title]="'COMPANY_LIST'">
  <div class="action-buttons">
    <app-button
      [routerLink]="NavigationPaths.CREATE_COMPANY"
      [btnType]="ButtonTypeEnum.FLAT"
      [isIconButton]="true"
      title="{{'CREATE_NEW' | translate}}"
      [icon]="'add'"
    ></app-button>
  </div>
</app-page-header>

<app-data-table
  *ngIf="(companies$ | async) as companies"
  [tableData]="companies"
  [tableConfig]="companyListConfig"
  (actionClicked)="onActionClicked($event)"
  [hasCheckboxColumn]="true"
></app-data-table>

