<app-page-header title="FOLDER_DETAILS">
  <div class="action-buttons">
    <app-button
      [routerLink]="NavigationPaths.UPLOAD_DOCUMENT"
      btnType="FLAT"
      [isIconButton]="true"
      [styleConfig]="{
        height: '50px',
        width: '230px'
      }"
      title="UPLOAD_DOCUMENT"
      icon="add"></app-button>
  </div>
</app-page-header>

<app-data-table
  [data]=""
  [itemsKey]="'documentCategories'"
  [tableConfig]="documentsListConfig"
  (actionClicked)="onActionClick($event)"
  [actionConfig]=""
  (pageChange)="onPageChange($event)"
  [hasCheckboxColumn]="true">
</app-data-table>
