<app-page-header title="FOLDER_DETAILS">
  <div class="action-buttons">
    <app-button
      [routerLink]="NavigationPaths.DOWNLOAD_DOCUMENT"
      btnType="STROKED"
      [isIconButton]="true"
      [styleConfig]="{
        height: '50px',
        width: '150px'
      }"
      title="UPLOAD"
      icon="export"></app-button>
    <app-button
      [routerLink]="NavigationPaths.CREATE_NEW_DOCUMENT"
      btnType="FLAT"
      [isIconButton]="true"
      [styleConfig]="{
        height: '50px',
        width: '150px'
      }"
      title="CREATE_NEW"
      icon="add"></app-button>
  </div>
</app-page-header>
<app-document-sub-header></app-document-sub-header>

<app-data-table
  [data]="documentsList$ | async"
  [itemsKey]="'documents'"
  [tableConfig]="documentsListConfig"
  (actionClicked)="onActionClick($event)"
  [actionConfig]="documentsActionConfig"
  (pageChange)="onPageChange($event)"
  [hasCheckboxColumn]="true">
</app-data-table>
