@use '@angular/material' as mat;
@import "src/app/core/styles/material-custom/color-variables";
@import "src/app/core/styles/material-custom/constants";
@import "src/app/core/styles/material-custom/material";
@import "src/app/core/styles/flex-classes";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");


@include mat.core();

html, body {
  height: 100%;
}

body {
  color: $text-gray
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

$my-primary: mat.define-palette($green-primary, 500);
$my-accent: mat.define-palette($accent, 700);

$my-typography: mat.define-typography-config(
        $font-family: 'Source Sans Pro',
);

$my-theme: mat.define-light-theme((
        color: (
                primary: $my-primary,
                accent: $my-accent,
        ),
        density: 0,
));

.container-wrapper {
  position: relative;
  margin: 25px 30px 0 30px;
}

.move-vert-menu {
  top: 10px;
  right: -20px;
}

.filter-menu {
  top: 3px;
}

.load > * {
  opacity: 20%;
}


@include mat.typography-hierarchy($my-typography);
@include mat.all-component-themes($my-theme);


.infoDialog {
  .mat-mdc-dialog-container {
    width: 44vw;
  }
}

.infoDialogBack {
  background-color: #221F1F;
}


.infoDialog {
  .mat-mdc-dialog-container {
    width: 44vw;
  }
}

.infoDialogBack {
  background-color: #221F1F;
}
