@import "src/app/core/styles/material-custom/constants";

mat-drawer-container {
  height: calc(100vh - 60px);
  width: calc(100vw - 220px);
}

.sub-menu {
  width: 220px;
  background-color: $background-gray;
  padding-top: 16px;
}
