@import "src/app/core/styles/material-custom/constants";

mat-drawer-container {
  height: calc(100vh - 60px);
  width: 100%;

  mat-drawer-content {
    background-color: $background-login-gray;
  }
}

.sub-menu {
  width: 220px;
  background-color: $background-gray;
  padding-top: 16px;
}

.full {
  width: 220px;
}

.collapsed {
  width: 80px;
}
