@import "src/app/core/styles/material-custom/constants";
@import "src/app/core/styles/mixins/fonts-mixin";

:host {
  mat-progress-spinner {
    width: 180px!important;
    height: 180px!important;
    svg {
      width: 180px!important;
      height: 180px!important;
    }
  }
  .spinner {
    position: relative;
    width: 180px;
    height: 180px;

    span {
      @include fontStyle(text-middle-bold);
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: $primary;
    }

    ::ng-deep .mdc-circular-progress__determinate-container {
      position: relative!important;

      &:after {
        content: "";
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 99px;
        width: 80%;
        position: absolute;
        height: 80%;
        border: 18px solid $background-light-blue;
      }
    }
  }
}
