<app-form-card>
  <h1 class="heading">{{'TRUSTED_DEVICES' | translate}}</h1>

    <div class="platform-info d-flex align-items-center">
      <div class="platform-icon d-flex justify-content-center align-items-center">
        <mat-icon svgIcon="apple"></mat-icon>
      </div>
      <span class="platform-name">{{ 'MAC_OS' | translate}}</span>
    </div>
  <app-trusted-device *ngFor="let device of macOsDevices" [title]="device?.operatingSystem + ' ' + device.browserName" [browserIcon]="device.browserName" [creationDate]="device.creationDateUtc | date : 'short'"></app-trusted-device>

    <div class="platform-info d-flex align-items-center">
      <div class="platform-icon d-flex justify-content-center align-items-center">
        <mat-icon svgIcon="windows"></mat-icon>
      </div>
      <span class="platform-name">{{ 'WINDOWS' | translate}}</span>
    </div>
    <app-trusted-device *ngFor="let device of windowsDevices" [title]="device?.operatingSystem + ' ' + device.browserName" [browserIcon]="device.browserName" [creationDate]="device.creationDateUtc | date : 'short'"></app-trusted-device>

    <div class="platform-info d-flex align-items-center">
      <div class="platform-icon d-flex justify-content-center align-items-center">
        <mat-icon svgIcon="linux"></mat-icon>
      </div>
      <span class="platform-name">{{ 'LINUX' | translate}}</span>
    </div>
    <app-trusted-device *ngFor="let device of linuxDevices" [title]="device?.operatingSystem + ' ' + device.browserName" [browserIcon]="device.browserName" [creationDate]="device.creationDateUtc | date : 'short'"></app-trusted-device>


  <div class="action-buttons d-flex justify-content-center align-items-center">
    <app-button
      [btnType]="ButtonTypeEnum.FLAT"
      [styleConfig]="{width: '150px', height: '50px', 'margin-right': '30px'}"
      [isIconButton]="true"
      [title]="'SAVE' | translate"
      [icon]="'success'"
    ></app-button>

    <app-button
      [routerLink]="NavigationPaths.BACK"
      [colorTheme]="'warn'"
      [styleConfig]="{width: '150px', height: '50px'}"
      [btnType]="ButtonTypeEnum.FLAT"
      [isIconButton]="true"
      [title]="'CANCEL' | translate"
      [icon]="'cancel'"
    ></app-button>
  </div>
</app-form-card>
