<app-label
  [value]="value"
  [isFocus]="isFocus"
  [maxLength]="maxLength"
  [name]="label" />
<div class="input-control" [ngStyle]="styleConfig">
  <input
    #input
    (focusin)="isFocus = true"
    (focusout)="isFocus = false"
    [ngClass]="{
      success: isFormControlValid(),
      error: isFormControlInvalid()
    }"
    [readonly]="readonly"
    [maxlength]="+maxLength!"
    [formControl]="formControl"
    (input)="setFormValue(input.value)"
    [placeholder]="placeholder! | translate"
    [type]="inputType"
    matInput />
  <mat-icon
    class="password-icon material-icons-outlined"
    *ngIf="inputType === 'password'"
    matSuffix>
  </mat-icon>
</div>
<app-error
  *ngIf="isFormControlInvalid()"
  [errors]="formControl.errors"
  [excludeSymbols]="excludeSymbols" />
